.title {
    padding: 10px;
    color: white;
    background-color: #3f51b5;
    color: white;
    font-size: 18px !important;
}
.card-body {
    width: 70%;
    margin: 5% auto;
    background-color: whitesmoke !important;
}
.formField {
    width: 95% !important;
    margin: 1% !important;
    padding: 15px;
    border: none;
}
.buttonClass {
    width: fit-content !important;
    margin: auto !important;
    margin-top: 10px !important;
}
.errorField {
    width: 92% !important;
    margin: auto;
    color: red;
    border: none;
}
.displayCard {
    width: 90%;
    margin: 5% auto;
    background-color: whitesmoke;
    box-shadow: 3px 3px 4px 2px #8888;
    padding:15px
}
.textField {
    background-color: whitesmoke;
    border: 1px solid #8888;
    border-radius: 8px;
    width: 95% !important;
    margin: 5px !important;
    padding: 15px;
    
}
.formClass {
    overflow-x: hidden;
    padding: 15px;
}

.MuiDataGrid-root .MuiDataGrid-main {

    height: 370px !important;
    background-color: whitesmoke !important;
}